
<h2>All in Your Head</h2>

{{#each allPosts}}
    <h3> {{name}} by {{user.name}}</h3>
    <p>{{description}}</p>
    <hr>
{{/each}}




{{#each allComment}}
  <h3>{{name}} by {{user.name}}</h3>
  <p>{{description}}</p>
  <hr>
{{/each}}

<script src="./post.js"></script>
<script src="./comment.js"></script>