
<h1> &#127875; &#128123; From the Mind of a Ghoul &#128123; &#127875;</h1>
{{#each allPosts}}
    <h3> {{name}} by {{user.name}}</h3>
    <p>{{description}}</p>
    <hr>
{{/each}}




{{#each allComment}}
  <h3>{{name}} by {{user.name}}</h3>
  <p>{{description}}</p>
  <hr>
{{/each}}

<script src="./post.js"></script>
<script src="./comment.js"></script>